.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #595f6e;
  /* padding-bottom: 100px; */
  text-align: center;
}

.form {
  width: 50%;
  position: relative;
  height: 100px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 70px;
  border: none;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.form button {
  position: absolute;
  right: 0px;
  bottom: 3px;
  color: #5fa8d3;
  background: white;
  border: none;
  cursor: pointer;
}

.form button:disabled {
  color: white;
  cursor: text;
  background: transparent;
}
.form button:focus {
  outline: none;
}
.form button:hover {
  color: #595f6e;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.or-spacer {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.or-spacer .mask {
  overflow: hidden;
  height: 20px;
}

.or-spacer span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  border-radius: 50%;
  box-shadow: 0 2px 4px #999;
}
.or-spacer span i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 50%;
  border: 1px solid #aaa;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #999;
}

.example {
  width: 100%;
  display: flex;
  justify-content: center;
}

.example-button {
  background: #5fa8d3;
  color: white;
  width: 25%;
  border: none;
  height: 50px;
}

.example-button:hover {
  color: #5fa8d3;
  background: #595f6e;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    /* background-color: lightblue; */
  }

  .landing-page {
    justify-content: flex-start;
  }

  .title {
    margin-top: 5rem;
  }
}
