nav {
  justify-self: flex-start;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #5fa8d3;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link-item {
  color: white;
  text-decoration: none;
}

.nav-link-item:hover {
  color: #595f6e;
}
