.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.dataTable {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}
.link {
  padding: 1rem;
}

.search-bar {
  border: 2px solid red;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  width: 25%;
  overflow: hidden;
}

.result-list {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
}

.form button {
  position: absolute;
  right: 0px;
  bottom: 3px;
  color: #5fa8d3;
  background: white;
  border: none;
  cursor: pointer;
}

.form button:disabled:hover {
  color: white;
  cursor: text;
  background: transparent;
}
.form button:focus {
  outline: none;
}
.form button:hover {
  color: #595f6e;
}

.loading {
  display: flex;
  justify-content: center;
}

.ag-theme-balham .ag-row-hover {
  cursor: pointer;
}
