#type {
  border-radius: 5px;
  outline: none;
}

.dataTable {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}
.link {
  padding: 1rem;
  /* color: black; */
}
.link:hover {
}

.dataTable:first-child {
  background-color: green;
}

.meta-data {
  border: 2px solid green;
}

.time-series {
  border: 2px solid purple;
}

.item-details {
  border: 2px solid red;
}
