.search-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.root {
  /* height: 60vh; */
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
}

.form button {
  position: absolute;
  right: 0px;
  bottom: 3px;
  color: #5fa8d3;
  background: white;
  border: none;
  cursor: pointer;
}

.form button:disabled:hover {
  color: white;
  cursor: text;
  background: transparent;
}
.form button:focus {
  outline: none;
}
.form button:hover {
  color: #595f6e;
}

.table {
  padding-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.link {
  padding: 1rem;
}

.search-bar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-list {
  padding-top: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ag-theme-balham .ag-row-hover {
  cursor: pointer;
}
